name: MKDocs documentation

on: [push, pull_request]

jobs:
  build_docs:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
      
    - name: Set up Python 3
      uses: actions/setup-python@v2
      with:
        python-version: 3.x
    
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install mkdocs
        pip install mkdocs-material
        pip install markdown-fenced-code-tabs
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
    
    - name: Build MKDocs
      run: |
        mkdocs build
    
    - name: Upload docs result
      uses: actions/upload-artifact@v1
      with:
        name: docs
        path: site
    
    - name: Deploy to GitHub Pages
      if: success()
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./site
